<div class="w-full bg-[#00ACC9] h-20 fixed top-0 left-0 z-40">
    <div class="p-2 flex items-center justify-between">
        <!-- Imagen en la esquina superior izquierda -->
        <img src="../../../../assets/images/header/ucc_white.png" alt="Imagen" class="h-16 w-auto">

        <!-- Botón-->
        <div class="flex items-center space-x-4 md:space-x-10 mr-8">
            <button (click)="logout()"
                class="h-10 bg-white text-[#00ACC9] py-2 px-4 rounded-xl hover:bg-[#f6f6f6] focus:outline-none">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>