<div class="w-full bg-[#00ACC9] h-auto sm:h-[5.5rem] z-30 fixed top-0 left-0 z-40">
    <div class="p-2 flex flex-col sm:flex-row items-center justify-between space-y-2 sm:space-y-0">
        <!-- Imagen en la esquina superior izquierda -->
        <img src="../../../../assets/images/header/ucc_white.png" alt="Imagen"
            class="h-12 md:h-16 w-auto">

        <!-- Input de buscar -->
        <div class="relative w-full max-w-xs sm:max-w-2/5 mt-1 ml-0 sm:ml-14 sm:mr-auto order-3 sm:order-none">
            <span class="absolute left-[90%] top-1/2 transform -translate-y-1/2">
                <i class="fa-solid fa-magnifying-glass" style="color: #00ACC9;"></i>
            </span>
            <input type="text" class="w-full h-10 pl-10 pr-5 rounded-xl focus:outline-none">
        </div>

        <!-- Botón y campana -->
        <div class="flex items-center space-x-4 sm:space-x-6 mr-0 sm:mr-12 order-2 sm:order-none">
            <i class="fa-regular fa-bell fa-lg cursor-pointer text-white"></i>
            <button (click)="logout()"
                class="h-10 bg-white text-[#00ACC9] py-2 px-4 rounded-xl hover:bg-[#f6f6f6] focus:outline-none">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>
