<p class="text-lg md:text-xl text-center font-semibold mb-4 mt-[6rem] uppercase">Datos de la afiliada</p>

<div class="flex flex-wrap mt-5">
    <div class="w-3/6 justify-center mx-auto">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row cursor-pointer">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(1)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 1, 'text-white bg-[#00acc9]': openTab === 1}">
                    Sección 1
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(2)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 2, 'text-white bg-[#00acc9]': openTab === 2}">
                    Sección 2
                </a>
            </li>
        </ul>

        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded uppercase">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">

                    <!-- Primer Tab -->
                    <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                           
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Departamento de residencia</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Municipio de residencia</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Régimen</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Fecha de diagnóstico</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Fecha de ingreso</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Población diferencial</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Tipo de documento</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Número de documento</label>
                                <input type="text" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                        </div>
                    </div>

                    <!-- Segundo Tab -->
                    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                           
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Nombres</label>
                                <input type="text" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Apellidos</label>
                                <input type="text" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                                                       
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Fecha de nacimiento</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Edad</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Teléfono</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                                                  
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Celular</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class=" font-medium mb-1">Dirección</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="mt-4 flex justify-center">
                                <button
                                    class="px-6 py-1 text-sm font-medium rounded-md bg-[#00acc9] text-white hover:bg-[#009DCC] transition-colors duration-300 uppercase">
                                    Guardar
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





