<div class="flex flex-col min-h-screen flex items-center justify-center">
    <p class="text-lg md:text-xl text-center font-semibold mb-4">Datos de la afiliada</p>
    <div class="w-full max-w-4xl bg-gray-100 rounded-lg shadow-md p-8 ">




        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


            <div class="flex flex-col">
                <label for="departamento-residencia" class="text-sm font-medium mb-1">Departamento de residencia</label>
                <select id="departamento-residencia" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="municipio-residencia" class="text-sm font-medium mb-1">Municipio de residencia</label>
                <select id="municipio-residencia" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="fecha-diagnostico" class="text-sm font-medium mb-1">Fecha de diagnóstico</label>
                <input type="date" id="fecha-diagnostico" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fecha-ingreso" class="text-sm font-medium mb-1">Fecha de ingreso</label>
                <input type="date" id="fecha-ingreso" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="tipo-documento" class="text-sm font-medium mb-1">Tipo de documento</label>
                <select id="tipo-documento" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="numero-documento" class="text-sm font-medium mb-1">Número de documento</label>
                <input type="text" id="numero-documento" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="nombres" class="text-sm font-medium mb-1">Nombres</label>
                <input type="text" id="nombres" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="apellidos" class="text-sm font-medium mb-1">Apellidos</label>
                <input type="text" id="apellidos" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fecha-nacimiento" class="text-sm font-medium mb-1">Fecha de nacimiento</label>
                <input type="date" id="fecha-nacimiento" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="poblacion-diferencial" class="text-sm font-medium mb-1">Población diferencial</label>
                <select id="poblacion-diferencial" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="edad" class="text-sm font-medium mb-1">Edad</label>
                <input type="tel" id="edad" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="telefono" class="text-sm font-medium mb-1">Teléfono</label>
                <input type="tel" id="telefono" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="Celular" class="text-sm font-medium mb-1">Celular</label>
                <input type="tel" id="Celular" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="direccion" class="text-sm font-medium mb-1">Dirección</label>
                <input type="tel" id="direccion" class="p-2 border border-gray-300 rounded-md">
            </div>
        </div>
    </div>
</div>
