/* Inicio de los estilos del tirangulo */
.custom-triangle {
    position: relative;
}

.custom-triangle::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #ea7c89; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */

/* Inicio de los estilos del tirangulo2 */
.custom-triangle2 {
    position: relative;
}

.custom-triangle2::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #E2713E; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */