<!-- Este archivo contiene la ruta de seguimiento de la gestante (inf_personal y inf_bb)-->
<app-header></app-header>

<div class="flex ml-[34%] px-[65px] mt-[12rem]">
    <p class="font-semibold text-4xl">Ruta de seguimiento</p>
</div>
<div class="flex ml-[33%] px-[65px] mt-[1%] text-gray-700">
    <p class="font-semibold text-lg">Seleccione la información que desea consultar</p>
</div>

<!-- Contenedor gris-->
<div class="w-[70rem] h-[20rem] p-8 rounded-lg mt-[5%] md:ml-auto md:mr-[17%]">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto max-w-5xl mt-[4%]">

        <!-- Ruta 1 -->
        <div class="relative flex items-center bg-[#ea7c89] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem] ">

            <!-- Contenido del número -->
            <div
                class="relative bg-[#ea7c89] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">01</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 shadow-lg rounded-2xl relative">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Información mamá</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Gestiona tu información personal para 
                        llevar un seguimiento más completo durante el embarazo
                    </p>
                    <button
                        class="bg-[#ea7c89] hover:bg-[#ea6f7d] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-id-card fa-2xl text-gray-400"></i>
            </div>

        </div>

        <!-- Ruta 2 -->
        <div class="relative flex items-center bg-[#E2713E] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem]">

            <!-- Contenido del número -->
            <div
                class="relative bg-[#E2713E] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle2 z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">02</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative shadow-lg">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Información bebé</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Gestiona la información de tu bebé para llevar 
                        un seguimiento más detallado de su desarrollo
                    </p>
                    <button
                        class="bg-[#E2713E] hover:bg-[#e75210] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-baby-carriage fa-2xl text-gray-400"></i>
            </div>
        </div>
    </div>
</div>