.sidebar {
    margin-top: 20px; /* Añadir margen superior para alejar el menú del borde superior */
    height: 100vh;
    /* position: sticky; */
}

.group {
    margin-top: 1rem; /* Espacio entre los elementos del menú */
}

