<!-- Diseño del menú -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="sidebar relative h-screen flex flex-col shadow-xl p-4 bg-white overflow-hidden" [ngClass]="{ 'w-56': isExpanded, 'w-[37%]': !isExpanded }"
    style="background-image: url('assets/images/menu/menu10.jpeg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Capa de color que va encima de la imagen -->
    <div class="absolute inset-0 bg-sky-500
    opacity-50 z-10"></div>

    <header class="relative z-20">
        <div class="toggle absolute top-4 right-[-8px] h-[40px] w-[40px] flex items-center justify-center rounded-r-xl text-white text-xl transition-all duration-300 cursor-pointer"
            (click)="toggleSidebar()">
            <ng-container *ngIf="isExpanded; else burgerIcon">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 25px; height: 25px;" fill="#ffff"
                    viewBox="0 0 320 512">
                    <path
                        d="M207.6 256L332.7 130.8C339.6 123.9 339.6 112.1 332.7 105.2C325.8 98.3 314.1 98.3 307.2 105.2L182.6 229.7L57.1 104.2C50.2 97.3 38.4 97.3 31.5 104.2C24.6 111.1 24.6 122.9 31.5 129.8L157.4 256L31.5 382.2C24.6 389.1 24.6 400.9 31.5 407.8C38.4 414.7 50.2 414.7 57.1 407.8L182.6 282.3L307.2 407.8C314.1 414.7 325.8 414.7 332.7 407.8C339.6 400.9 339.6 389.1 332.7 382.2L207.6 256z" />
                </svg>
            </ng-container>
        </div>
        <ng-template #burgerIcon>
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 25px; height: 25px;" fill="#ffff"
                viewBox="0 0 448 512">
                <path
                    d="M16 132h416c8.8 0 16-7.2 16-16V116c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v4c0 8.8 7.2 16 16 16zm0 128h416c8.8 0 16-7.2 16-16v-4c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v4c0 8.8 7.2 16 16 16zm416 112H16c-8.8 0-16 7.2-16 16v4c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-4c0-8.8-7.2-16-16-16z" />
            </svg>
        </ng-template>
    </header>
    
    <li class="group h-12 flex items-center z-20 mt-[10rem]">
        <a href="dashboard"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            
            <i class="fa-solid fa-chart-pie text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">Dashboard</span>
        </a>
    </li>

    <li class="group h-12 flex items-center z-20 mt-[2rem]">
        <a href="list-superadmin"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            <i class="fa-solid fa-user-tie text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">Superadmin</span>
        </a>
    </li>
    
    
    <li class="group h-12 flex items-center z-20 mt-[2rem]">
        <a href="list-admin"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            
            <i class="fa-solid fa-users text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">Administradores</span>
        </a>
    </li>
    
    <li class="group h-12 flex items-center z-20 mt-[2rem]">
        <a href="list-operadores"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            <i class="fa-solid fa-stethoscope text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">Operadores</span>
        </a>
    </li>
    
    <li class="group h-12 flex items-center z-20 mt-[2rem]">
        <a href="list-ips"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            
            <i class="fa-solid fa-hospital text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">IPS</span>
        </a>
    </li>
    
    
    <li class="group h-12 flex items-center z-20 mt-[2rem]">
        <a href="perfil-superadmin"
            class="appearance-none no-underline flex items-center w-full h-full p-2 rounded-md transition-all duration-400 text-white">
            <i class="fa-solid fa-user text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"></i>
            <span class="text nav-text text-base font-medium">Perfil</span>
        </a>
    </li>

    <div class="flex flex-col justify-start mt-10">
        <ul class="space-y-4">
            <li *ngFor="let item of menuItems" class="flex items-center">
                <a [routerLink]="item.route"
                    class="flex items-center w-full h-12 p-2 rounded-md transition-all duration-300 hover:bg-blue-500">
                    <i class="{{item.icon}} text-xl"></i>
                    <span class="ml-4 text-white" *ngIf="isExpanded">{{ item.name }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>