<!-- Diseño del menú -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="sidebar fixed top-0 left-0 h-screen overflow-y-auto flex flex-col shadow-xl p-4 bg-white z-10" 
    [ngClass]="{ 'w-56': isExpanded, 'w-20': !isExpanded }" *ngIf="isAuthenticated && isVisible"  >

    <div class="flex flex-col justify-start md:pt-24 pt-28"> <!-- Aumentar el margen superior aquí -->
        <ul class="space-y-4">
            <li *ngFor="let item of menuItems" class="group h-12 flex items-center z-20 hover:bg-[#00ACC9] rounded-[5px] hover:text-white">
                <a [routerLink]="item.route"
                   routerLinkActive="bg-[#00ACC9] text-white" 
                   class="appearance-none no-underline flex items-center w-full h-full p-1.5 rounded-md">
                    <i class="{{item.icon}} text-center text-xl min-w-[60px] pr-[20px]" ></i>
                    <span class="text nav-text text-base " *ngIf="isExpanded">{{ item.name }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
