<!-- Diseño de la modal para 'añadir un Admin' -->
<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white rounded-lg w-[90%] md:w-[70%] lg:w-[45%] p-6">
      <h2 class="text-xl font-bold mb-4 text-center mt-4">Formulario de Registro de Administrador</h2>
  
      <form (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
          
          
  
          <!-- Nombre -->
          <div class="mb-4">
            <label for="nombre" class="ml-[15%] block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="admin.nom_admin"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
          </div>
  
          <!-- Apellido -->
          <div class="mb-4">
            <label for="apellido" class="ml-[15%] block text-sm font-medium text-gray-700">Apellido</label>
            <input type="text" id="apellido" name="apellido" [(ngModel)]="admin.ape_admin"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
          </div>
  
          <!-- Teléfono -->
          <div class="mb-4">
            <label for="telefono" class="ml-[15%] block text-sm font-medium text-gray-700">Teléfono</label>
            <input type="text" id="telefono" name="telefono" [(ngModel)]="admin.tel_admin"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
          </div>
  
          <!-- Email -->
          <div class="mb-4">
            <label for="email" class="ml-[15%] block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="admin.email_admin"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
          </div>

          <!-- Tipo de documento -->
          <div class="mb-4">
            <label for="tipoDocumento" class="ml-[15%] block text-sm font-medium text-gray-700">Tipo de documento</label>
            <select id="tipoDocumento" name="tipoDocumento" [(ngModel)]="admin.cod_documento"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
              <option *ngFor="let tipoDocumento of listTipoDocumentos" [value]="tipoDocumento.cod_documento">
                {{ tipoDocumento.nom_documento }}
              </option>
            </select>
          </div>
  
          <!-- Documento -->
          <div class="mb-4">
            <label for="documento" class="ml-[15%] block text-sm font-medium text-gray-700">Documento</label>
            <input type="text" id="documento" name="documento" [(ngModel)]="admin.documento_admin"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
          </div>

         <!-- Departamento -->
          <div class="mb-4">
            <label for="cod_departamento" class="ml-[15%] block text-sm font-medium text-gray-700">Departamento</label>
            <select id="cod_departamento" name="cod_departamento" [(ngModel)]="admin.cod_departamento" (change)="onDepartamentoChange($event)"
                class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
                <option *ngFor="let departamento of listDepartamentos" [value]="departamento.cod_departamento">
                    {{departamento.nom_departamento}}
                </option>
            </select>
          </div>

          <!-- Municipio -->
          <div class="mb-4">
            <label for="cod_municipio" class="ml-[15%] block text-sm font-medium text-gray-700">Municipio</label>
            <select id="cod_municipio" name="cod_municipio" [(ngModel)]="admin.cod_municipio"
                class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
                <option *ngFor="let municipio of listMunicipios" [value]="municipio.cod_municipio">
                    {{municipio.nom_municipio}}
                </option>
            </select>
          </div>

          <!-- Código IPS -->
          <div class="mb-4">
            <label for="cod_ips" class="ml-[15%] block text-sm font-medium text-gray-700">IPS</label>
            <select id="cod_ips" name="cod_ips" [(ngModel)]="admin.cod_ips"
              class="mx-auto mt-1 block w-[70%] px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
              <option *ngFor="let ips of listIps" [value]="ips.cod_ips">
                {{ips.nom_ips}}
              </option>
            </select>
          </div>
          
  
        </div>
  
        <!-- Botones -->
        <div class="flex justify-end mt-6">
          <button type="button" class="bg-[#80BA27] hover:bg-[#7cb02d] text-white font-bold py-2 px-4 rounded mr-2"
            (click)="cerrar()">Cancelar</button>
          <button type="submit" class="bg-[#00ACC9] hover:bg-[#0194ad] text-white font-bold py-2 px-4 rounded">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  