<div class="flex flex-col min-h-screen flex items-center justify-center">
    <p class="text-lg md:text-xl text-center font-semibold mb-4">Control prenatal</p>
    <div class="w-full max-w-4xl bg-gray-100 rounded-lg shadow-md p-8 ">




        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


            <div class="flex flex-col">
                <label for="edad-gestacional" class="text-sm font-medium mb-1">Edad gestacional de inicio del control prenatal</label>
                <input type="tel" id="edad-gestacional" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="trimestre-ingreso" class="text-sm font-medium mb-1">Trimestre de ingreso</label>
                <select id="trimestre-ingreso" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="ultima-menstruacion" class="text-sm font-medium mb-1">Fecha ultima menstruación</label>
                <input type="date" id="ultima-menstruacion" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fecha-parto" class="text-sm font-medium mb-1">Fecha probable de parto</label>
                <input type="date" id="fecha-parto" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="embarazo-planeado" class="text-sm font-medium mb-1">Embarazo planeado</label>
                <input type="tel" id="embarazo-planeado" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fracoso-anti" class="text-sm font-medium mb-1">Fracaso anticonceptivo</label>
                <input type="tel" id="fracoso-anti" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="metodo-fracoso" class="text-sm font-medium mb-1">Método fracaso</label>
                <select id="metodo-fracoso" class="p-2 border border-gray-300 rounded-md">
                    <option value="">Seleccione...</option>
                </select>
            </div>


            <div class="flex flex-col">
                <label for="fecha-consulta" class="text-sm font-medium mb-1">Fecha consulta atención preconcepcional</label>
                <input type="date" id="fecha-consulta" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fecha-control" class="text-sm font-medium mb-1">Fecha consulta de control atención preconcepcional</label>
                <input type="date" id="fecha-control" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="riesgo-reproductivo" class="text-sm font-medium mb-1">Riesgo reproductivo indentificado</label>
                <input type="tel" id="riesgo-reproductivo" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="fecha-asesoria" class="text-sm font-medium mb-1">Fecha asesoria IVE</label>
                <input type="date" id="fecha-asesoria" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="usuario-solicito" class="text-sm font-medium mb-1">Usuario solicitó IVE</label>
                <input type="tel" id="edad" class="p-2 border border-gray-300 rounded-md">
            </div>


            <div class="flex flex-col">
                <label for="periodo" class="text-sm font-medium mb-1">Periodo intergenesico 12 meses</label>
                <input type="tel" id="periodo" class="p-2 border border-gray-300 rounded-md">
            </div>
        </div>
    </div>
</div>

