<!-- Este archivo contiene el dashboard -->
<app-header></app-header>

<div class="flex ml-[35%] px-[65px] mt-[8rem] space-x-[41%]">
    <p class="font-bold text-3xl">Dashboard</p>
</div>

<!-- Diseño de las tarjetas -->
<div class="w-full md:w-[70rem] h-[40rem] p-8 rounded-lg md:ml-auto md:mr-[23%]">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-y-8 gap-x-[8%] mx-auto max-w-5xl mt-[4%]">
        <!-- tarjeta 1 -->
        <div class="relative flex items-center bg-gray-200 rounded-xl shadow-lg overflow-visible h-[10rem] w-full sm:w-[18rem] md:w-[12rem] lg:w-[20rem]">
        </div>

        <!-- tarjeta 2 -->
        <div class="relative flex items-center bg-gray-200 rounded-xl shadow-lg overflow-visible h-[10rem] w-full sm:w-[18rem] md:w-[12rem] lg:w-[20rem]">
        </div>

        <!-- tarjeta 3 -->
        <div class="relative flex items-center bg-gray-200 rounded-xl shadow-lg overflow-visible h-[10rem] w-full sm:w-[18rem] md:w-[12rem] lg:w-[20rem]">
        </div>
    </div>
</div>
