<!-- Llamado del encabezado -->
<app-header></app-header>

<p class="text-lg md:text-xl text-center font-semibold mb-4 mt-[12rem] uppercase">Gestión materna</p>

<!-- Diseño del formulario -->
<div class="flex flex-wrap mt-5 uppercase">
    <div class="w-3/6 justify-center mx-auto">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row cursor-pointer uppercase">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(1)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 1, 'text-white bg-[#00acc9]': openTab === 1}">
                    Control prenatal
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(2)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 2, 'text-white bg-[#00acc9]': openTab === 2}">
                    Sección 2
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(3)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 3, 'text-white bg-[#00acc9]': openTab === 3}">
                    Primera consulta
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(4)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 4, 'text-white bg-[#00acc9]': openTab === 4}">
                    Sección 2
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(5)"
                    [ngClass]="{'text-[#00acc9] bg-white': openTab !== 5, 'text-white bg-[#00acc9]': openTab === 5}">
                    Vacunación
                </a>
            </li>
        </ul>

        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">

                    <!-- Control prenatal -->
                    <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1 ">Edad gestacional de inicio del control prenatal</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Trimestre de ingreso al control prenatal</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="" selected>Seleccione...</option>
                                    <option value="">Trimestre I: 1 a 13 sem</option>
                                    <option value="">Trimestre II: 14 a 27 sem</option>
                                    <option value="">Trimestre III: 28 a 42 sem</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha última menstruación</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha probable de parto</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Embarazo planeado</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="" selected>Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fracaso anticonceptivo</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="" selected>Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Método fracaso</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="" selected>Seleccione...</option>
                                </select>
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha consulta atención
                                    preconcepcional</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                        </div>

                    </div>

                    <!-- Sección 2 -->
                    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha consulta de control
                                    atención preconcepcional</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Riesgo reproductivo
                                    indentificado</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                    <option value="">Alto</option>
                                    <option value="">Bajo</option>
                                </select>
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha asesoría IVE</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="usuario-solicito" class="font-medium mb-1">Usuario solicitó
                                    IVE</label>
                                <select id="usuario-solicito" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha terminación de último
                                    embarazo</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Periodo intergenésico 12
                                    meses</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Primera consulta -->
                    <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Peso previo (kg)</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Talla (metros)</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">I.M.C</label>
                                <input type="tel" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Diagnóstico nutricional de ingreso</label>
                                <input type="text" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">HTA</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option selected>Seleccione...</option>
                                    <option value="0">0 - No</option>
                                    <option value="1">1 - Si</option>
                                </select>
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">DM</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option selected>Seleccione...</option>
                                    <option value="0">0 - No</option>
                                    <option value="1">1 - Si</option>
                                </select>
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Tipo de DM</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Clasificación del riesgo según escala</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Factor de riesgo identificado</label>
                                <input type="tel" id=""
                                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>

                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Exposición a
                                    violencias</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <!-- Sección 2-->
                    <div [ngClass]="{'hidden': openTab !== 4, 'block': openTab === 4}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Riesgo de depresión posparto</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                    <option value="">Si</option>
                                    <option value="">No</option>
                                </select>
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for=""
                                    class="font-medium mb-1">Fórmula obstétrica gestaciones</label>
                                <input type="tel" id=""
                                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fórmula obstétrica partos vaginales</label>
                                <input type="tel" id=""
                                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1 ">Fórmula obstétrica cesáreas</label>
                                <input type="tel" id=""
                                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fórmula obstétrica abortos</label>
                                <input type="tel" id=""
                                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha consejería
                                    lactancia materna</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>


                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha consejería
                                    pretest VIH</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                        </div>
                    </div>

                    <!-- Vacunación-->
                    <div [ngClass]="{'hidden': openTab !== 5, 'block': openTab === 5}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha primera dosis covid 19</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha segunda dosis covid 19 </label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha refuerzo covid 19</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Biológico COVID-19</label>
                                <select id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha dosis influenza</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha dosis toxoide tetánico</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>
                
                
                            <div class="flex flex-col text-xs">
                                <label for="" class="font-medium mb-1">Fecha dosis DPT a-celular</label>
                                <input type="date" id="" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#00acc9] uppercase">
                            </div>                

                        </div>
                    </div>
                    
                    <div class="mt-8 flex justify-center">
                        <button
                            class="px-6 py-2 text-sm w-auto max-w-xs font-medium rounded-md bg-[#00acc9] text-white hover:bg-[#009DCC] transition-colors duration-300 uppercase">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>