/* Inicio de los estilos del tirangulo */
.custom-triangle {
    position: relative;
}

.custom-triangle::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #E2713E; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */

/* Inicio de los estilos del tirangulo2 */
.custom-triangle2 {
    position: relative;
}

.custom-triangle2::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #877363; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */

/* Inicio de los estilos del tirangulo3 */
.custom-triangle3 {
    position: relative;
}

.custom-triangle3::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #53A04D; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */

/* Inicio de los estilos del tirangulo4 */
.custom-triangle4 {
    position: relative;
}

.custom-triangle4::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #3eb6c6; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */

/* Inicio de los estilos del tirangulo5 */
.custom-triangle5 {
    position: relative;
}

.custom-triangle5::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -20px; /* Posición del triangulo */
    width: 0;
    height: 0;
    border-top: 30px solid transparent; /* Tamaño del triángulo */
    border-bottom: 32px solid transparent; /* Tamaño del triángulo */
    border-left: 20px solid #2E6B9C; /* Color del triángulo */
}
/* Fin de los estilos del tirangulo */