<!-- Este archivo contiene la ruta de la gestante -->
<div class="relative p-2 text-center bg-[#E8F6FD] h-auto min-h-[7%] mt-4 md:mt-16">
    <img src="../../../../assets/images/inicio/log_ucc.png" alt="Imagen"
        class="absolute  w-16 md:w-[12%] h-auto md:h-[100%] left-2 md:left-8 top-1/2 transform -translate-y-1/2">
    <h4 class="text-lg md:text-xl font-semibold mt-2 relative">Ruta materno perinatal</h4>
</div>

<!-- Contenedor gris-->
<div class="bg-gray-100 w-[70rem] h-[38rem] p-8 mt-[5%] ml-[15%] rounded-lg">

    <!-- Ruta 1 -->
    <div
        class="relative flex items-center bg-[#E2713E] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem] ml-[30%]">

        <!-- Contenido del número -->
        <div
            class="relative bg-[#E2713E] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle z-30 w-[17%] shadow-lg">
            <p class="text-center text-[37px]">01</p>
            <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
        </div>

        <!-- Superposición translúcida -->
        <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
            <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative">
                <h3 class="text-lg font-semibold text-gray-800 font-serif">Datos de la afiliada</h3>
                <p class="text-gray-600 text-sm w-[74%]">
                    Administra la información personal de la
                    gestante para un mejor seguimiento durante el embarazo
                </p>
                <button
                    class="bg-[#E2713E] hover:bg-[#e75210] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                    Ingresar
                </button>
            </div>
        </div>

        <!-- Icono -->
        <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
            <i class="fas fa-id-card fa-2xl text-gray-400"></i>
        </div>

    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto max-w-5xl mt-[4%]">


        <!-- Ruta 2 -->
        <div class="relative flex items-center bg-[#877363] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem]">

            <!-- Contenido del número -->
            <div
                class="relative bg-[#877363] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle2 z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">02</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Control prenatal</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Gestiona el control prenatal y el seguimiento de la salud durante el embarazo
                    </p>
                    <button
                        class="bg-[#877363] hover:bg-[#886950] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-heartbeat fa-2xl text-gray-400"></i>
            </div>
        </div>

        <!-- Ruta 3 -->
        <div class="relative flex items-center bg-[#53A04D] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem]">

            <!-- Contenido del número -->
            <div
                class="relative bg-[#53A04D] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle3 z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">03</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Laboratorios</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Gestiona y visualiza los resultados de laboratorio
                        para un seguimiento completo durante el embarazo
                    </p>
                    <button
                        class="bg-[#53A04D] hover:bg-[#419f3a] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-vial fa-2xl text-gray-400"></i>
            </div>
        </div>

        <!-- Ruta 4 -->
        <div class="relative flex items-center bg-[#3eb6c6] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem] mt-[2%]">
            <!-- Contenido del número -->
            <div
                class="relative bg-[#3eb6c6] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle4 z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">04</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Seguimiento consulta mensual</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Monitorea y gestiona las consultas mensuales para un control continuo durante el embarazo
                    </p>
                    <button
                        class="bg-[#3eb6c6] hover:bg-[#0fb1c7] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-calendar-check fa-2xl text-gray-400"></i>
            </div>
        </div>

        <!-- Ruta 5 -->
        <div class="relative flex items-center bg-[#2E6B9C] rounded-xl shadow-lg overflow-visible h-[10rem] w-[25rem] mt-[2%]">
            <!-- Contenido del número -->
            <div
                class="relative bg-[#2E6B9C] text-white text-xl font-semibold p-4 rounded-l-xl custom-triangle5 z-30 w-[17%] shadow-lg">
                <p class="text-center text-[37px]">05</p>
                <div class="h-[2px] mx-auto bg-white border-0 rounded md:my-3"></div>
            </div>

            <!-- Superposición translúcida -->
            <div class="absolute top-[-12px] left-[18%] z-20 w-[24rem]">
                <div class="p-6 bg-white bg-opacity-75 rounded-2xl relative">
                    <h3 class="text-lg font-semibold text-gray-800 font-serif">Pre y post parto</h3>
                    <p class="text-gray-600 text-sm w-[74%]">
                        Supervisa y coordina el cuidado antes y después del parto, 
                        asegurando un apoyo continuo y completo
                    </p>
                    <button
                        class="bg-[#2E6B9C] hover:bg-[#14619e] text-white text-[12px] py-1 px-2 rounded-[20px] font-semibold mt-2 z-20">
                        Ingresar
                    </button>
                </div>
            </div>

            <!-- Icono -->
            <div class="ml-[79%] relative z-20 p-6 mt-[-15px]">
                <i class="fas fa-baby-carriage fa-2xl text-gray-400"></i>
            </div>
        </div>

    </div>
</div>