<p class="text-lg md:text-xl text-center font-semibold mb-4 mt-[6rem]">Datos primera consulta</p>

<div class="flex flex-wrap mt-5">
    <div class="w-3/6 justify-center mx-auto">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(1)"
                    [ngClass]="{'text-[#06A5E4] bg-white': openTab !== 1, 'text-white bg-[#06A5E4]': openTab === 1}">
                    Sección 1
                </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                    (click)="toggleTabs(2)"
                    [ngClass]="{'text-[#06A5E4] bg-white': openTab !== 2, 'text-white bg-[#06A5E4]': openTab === 2}">
                    Sección 2
                </a>
            </li>
        </ul>

        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">

                    <!-- Primer Tab -->
                    <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <!-- Primer columna -->
                            <div class="flex flex-col">
                                <label for="edad-gestacional" class="text-sm font-medium mb-1">Peso previo (kg)</label>
                                <input type="tel" id="edad-gestacional" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="trimestre-ingreso" class="text-sm font-medium mb-1">Talla (metros)</label>
                                <select id="trimestre-ingreso" class="p-2 border border-gray-300 rounded-md">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">I.M.C</label>
                                <input type="tel" id="ultima-menstruacion" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Diagnóstico
                                    nutricional de ingreso</label>
                                <input type="text" id="ultima-menstruacion" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">HTA</label>
                                <input type="tel" id="ultima-menstruacion" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">DM</label>
                                <input type="tel" id="ultima-menstruacion" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="metodo-fracoso" class="text-sm font-medium mb-1 mt-2">Tipo de DM</label>
                                <select id="metodo-fracoso" class="p-2 border border-gray-300 rounded-md">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>

                            <div class="flex flex-col">
                                <label for="metodo-fracoso" class="text-sm font-medium mb-1 mt-2">Clasificación del
                                    riesgo según escala</label>
                                <select id="metodo-fracoso" class="p-2 border border-gray-300 rounded-md">
                                    <option value="">Seleccione...</option>
                                </select>
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Factor de riesgo
                                    identificado</label>
                                <input type="text" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Exposición a
                                    violencias</label>
                                <input type="text" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>

                    <!-- Segundo Tab -->
                    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <!-- Primer columna -->
                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Riesgo de
                                    depresión pos parto</label>
                                <input type="text" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion"
                                    class="text-sm font-medium mb-1 mt-2">Gestaciones</label>
                                <input type="tel" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Partos
                                    vaginales</label>
                                <input type="tel" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Cesáreas</label>
                                <input type="tel" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="ultima-menstruacion" class="text-sm font-medium mb-1 mt-2">Abortos</label>
                                <input type="tel" id="ultima-menstruacion"
                                    class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="fecha-parto" class="text-sm font-medium mb-1 mt-2">Fecha consejería
                                    lactancia materna</label>
                                <input type="date" id="fecha-parto" class="p-2 border border-gray-300 rounded-md">
                            </div>

                            <div class="flex flex-col">
                                <label for="embarazo-planeado" class="text-sm font-medium mb-1 mt-2">Fecha consejería
                                    pretest VIH</label>
                                <input type="tel" id="embarazo-planeado" class="p-2 border border-gray-300 rounded-md">
                            </div>
                            
                            
                        </div>
                        <button
                                class="px-6 py-2 text-lg font-semibold rounded-full bg-[#06A5E4] text-white hover:bg-[#1135EA] focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-colors duration-300 mt-4">
                                Siguiente
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>